[bumpversion]
current_version = 19.1.0
commit = True
tag = True

[bumpversion:file:tutorpok/__about__.py]

[bumpversion:file:CHANGELOG.md]
search = [Unreleased]
replace = [{new_version}] - {now:%Y-%m-%d}
